.profile-name {
  text-align: center;
}

.profile-stats {
text-align: center;
display: inline-block;
width: 200px;
}

.image {
width: 40px;
border-radius: 15px;
}

.posts {

}

.followers {

}

.following {
  
}

