
.profile-name {
  text-align: center;
  margin-bottom: 10px;
}

.profile-top {
  text-align: center;
}

.profile-stats {
display: inline-block;
width: 200px;
font-size: 12px;
}

.image {
width: 40px;
border-radius: 15px;
}

.posts {
width: 40px;
margin-right: 5px;
display: inline-block;
}

.followers {
width: 50px;
margin-right: 15px;
display: inline-block;
}

.following {
width: 50px;
margin-left: 10px;
display: inline-block;
}

.buttons {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;

}

