font-family: Work Sans;


.story-button {
  border-radius: 20px;
  cursor: pointer;
  border-width: 1.25px;
  height:40px;
  background-color: white;
  margin-bottom: 10px;
  transition: box-shadow .15s;
}

.story-button:hover {
  box-shadow: 3px 8px 15px rgba(0, 0, 0, .2);
}


.image {
  width: 200px;
}

.profile-preview {
  width: 200px;
  text-align: center;
  padding-left: 435px;
  padding-right: 10px;

  display: grid;
  grid-template-rows: 35px ;
}

.user-info {
  text-align: left;
  margin-bottom: 0;
  transition: text-decoration .15s;
}

.user-info:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.caption-button {
  color:rgb(240, 222, 198);
  text-align: left;
  cursor: pointer;
  transition: text-decoration .15s;
}

.like {
display: inline;
border: none;
background-color: white;
color:black;
font-size: 20px;
cursor: pointer;
margin-bottom: 0;
}

.like:hover {
  box-shadow: 3px 8px 15px rgba(0, 0, 0, .2);
}

.like:active {
  color:red;
}

.reply {
display: inline;
border: none;
background-color: white;
color:black;
font-size: 20px;
cursor: pointer;
}

.reply:hover {
  box-shadow: 3px 8px 15px rgba(0, 0, 0, .2);
}

.reply:active {
  color:rgb(75, 75, 75);
}

.share {
display: inline;
border: none;
background-color: white;
color:black;
font-size: 20px;
cursor: pointer;
}

.share:hover {
  box-shadow: 3px 8px 15px rgba(0, 0, 0, .2);
}

.share:active {
  color:rgb(75, 75, 75);
}

.image-info {
text-align: left;
}

.image-user {
margin-bottom: 0;
font-size: 14px;;
}

.image-user:hover {
  cursor: pointer;
  text-decoration: underline;
}

.caption {
  margin-top: 0;
  font-size: 15px;
}